/*
 * General variables
 */

:root {
  --page-background-color: #FFFFFF;
  --page-margin-color: #F8F6EF;
  --page-title-color: #444444;

  --accent-color: #BD0000;
  --link-color: #003BCB;
  --text-color: #333333;

  --article-title-color: #000000;
  --article-subtitle-color: var(--accent-color);
  --article-title-max-width: 640px;
  --article-text-max-width: 536px;

  --footer-color: #666666;

  --baseline: 24px;
  --baseline-subdivision: 8px;
}

/*
 * Baselines
 *
 * This stylesheet uses a baseline grid. Text is always sitting on
 * lines evenly spaced by 24px.
 *
 * To perform this effet, text elements are adjusted in two ways:
 *   - a margin-top, to move the first line of the text on the next baseline
 *     (depending on the text size).
 *   - a padding-bottom, to move the end of the element on the next baseline.
 *     (using padding instead of margin to prevent margin collapse)
 *
 * Debugging:
 *
 * To visualise the baseline grid, simply comment out the `display: none` statement
 * below.
 *
 * Reference:
 *
 * See https://open.nytimes.com/how-we-implemented-a-baseline-grid-using-css-cb13cac45201
*/

/* DEBUG: display the baseline grid */
html {
  position: relative;
}
html::before {
  display: none; /* Enable to see the grid */
  --debug-baseline-color: hsla(204, 100%, 50%, 0.30);
  --debug-sub-baseline-color: hsla(204, 80%, 72%, 0.25);
  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--debug-baseline-color),
    var(--debug-baseline-color) 1px,
    transparent 1px,
    transparent var(--baseline)
  );
  --background-baseline-subdivisions: repeating-linear-gradient(
    to bottom,
    var(--debug-sub-baseline-color),
    var(--debug-sub-baseline-color) 1px,
    transparent 1px,
    transparent var(--baseline-subdivision)
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background-image: var(--background-baseline), var(--background-baseline-subdivisions);
  z-index: 1000;
  pointer-events: none;
}
/* END DEBUG */

/*
 * General page layout
 */

* {
  box-sizing: border-box;
}

html {
  background-color: var(--page-margin-color);
  min-height: 100%;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: var(--baseline);
  border: 1px solid transparent;
  border-left: 1px solid #E9E9E9;
  color: var(--text-color);
  background-color: var(--page-background-color);
}
/* Large screens */
@media (min-width: 1000px) { body {
  margin-left: 128px;
  padding-left: 128px;
}}
/* Normal screen */
@media screen and (max-width: 999px) and (min-width: 760px) { body {
  margin-left: 32px;
  padding-left: 72px;
}}
/* Narrow screen */
@media screen and (max-width: 759px) and (min-width: 400px) { body {
  margin-left: 0;
  padding-left: 48px;
  width: auto;
}}
/* Very narrow screen */
@media screen and (max-width: 399px) { body {
  margin-left: 0;
  padding-left: 16px;
  width: auto;
  min-width: 280px;
}}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 * Header
 */

.site-header {
  margin-top: 96px;
  margin-bottom: 92px;
}

.site-header__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  color: var(--title-color);
  letter-spacing: -3px;
  text-transform: lowercase;
}
/* Large screens */
@media (min-width: 1000px) { .site-header__title {
  font-size: 56px;
}}
/* Normal screen */
@media screen and (max-width: 999px) and (min-width: 760px) { .site-header__title {
  font-size: 56px;
}}
/* Narrow screen */
@media screen and (max-width: 759px) and (min-width: 400px) { .site-header__title {
  font-size: 40px;
}}
/* Very narrow screen */
@media screen and (max-width: 399px) { .site-header__title {
  font-size: 40px;
}}

.site-header__title a {
  color: inherit;
}

.site-header__tagline {
  margin-top: 13px;
  margin-bottom: 0;
  padding-bottom: 11px;

  margin-left: 3px;
  font-weight: normal;
  color: var(--accent-color);
  letter-spacing: 0;
}
/* Large screens */
@media (min-width: 1000px) { .site-header__tagline {
  width: auto;
  font-size: 18px;
}}
/* Normal screen */
@media screen and (max-width: 999px) and (min-width: 760px) { .site-header__tagline {
  width: auto;
  font-size: 18px;
}}
/* Narrow screen */
@media screen and (max-width: 759px) and (min-width: 400px) { .site-header__tagline {
  width: 240px;
  font-size: 21px;
}}
/* Very narrow screen */
@media screen and (max-width: 399px) { .site-header__tagline {
  width: 192px;
  font-size: 18px;
}}

/*
 * Main content layout and typography
 */

.main-content {
  max-width: var(--article-title-max-width);
  word-wrap: break-word;
}

.main-content > *:not(h1) {
  max-width: var(--article-text-max-width);
}

.main-content h1 {
  margin-top: 93px;
  margin-bottom: 29px;
  padding-bottom: 11px;

  font-weight: bold;
  font-size: 28px;
  color: var(--article-title-color);
  letter-spacing: 0;
  line-height: 32px;
}

.main-content h2 {
  margin-top: 48px;
  margin-bottom: 0;
  padding-bottom: 16px;

  font-weight: bold;
  font-size: 21px;
  color: var(--article-subtitle-color);
  letter-spacing: 0;
  line-height: 32px;
}

.main-content h3 {
  margin-top: 1px;
  margin-bottom: 0;
  padding-bottom: 15px;

  font-weight: bold;
  font-size: 18px;
  color: var(--article-title-color);
  letter-spacing: 0;
  line-height: 32px;
}
.main-content h3[id|="section-suivante"] {
  margin-top: 73px;
  max-width: var(--article-title-max-width);
}

.main-content p {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 19px;

  font-size: 18px;
  line-height: var(--baseline);
  letter-spacing: 0;
}

.main-content img {
  max-width: 100%;
}

.main-content ul,
.main-content ol {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 11px;
}

.main-content blockquote {
  margin-top: 5px;
  margin-left: 0;
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.main-content blockquote > :first-child {
  margin-top: 0;
}

.main-content blockquote > :last-child {
  margin-bottom: 0;
}

.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}

.main-content table th {
  font-weight: bold;
}

.main-content table th, .main-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
.main-content dl {
  padding: 0;
}
.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}

/*
 * Code highlighting
 */

.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}

.main-content pre {
  padding: 0.8rem;
  margin-top: 5px;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}
.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.main-content .highlight {
  margin-bottom: 1rem;
}
.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.main-content .highlight pre,
.main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  -webkit-overflow-scrolling: touch;
}

.main-content pre code,
.main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
  content: normal;
}


/*
 * Home page
 */

h3.home__header {
  margin-top: 97px;
  margin-bottom: 0;
  padding-bottom: 31px;
}

ol.home__articles {
  margin-bottom: 29px;
}

.home__credits {
  font-style: italic;
}
.home__credits em {
  font-style: normal;
}

/*
 * Footer
 */

.site-footer {
  display: flex;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 120px;
  font-size: 14px;
  color: var(--footer-color);
  letter-spacing: 0;
  line-height: 16px;
}
.site-footer__logo {
  flex-shrink: 1;
}
.site-footer__logo * {
  display: block;
}
.site-footer__logo img {
  height: 64px;
}

.site-footer__text {
  padding-top: 6px;
  padding-left: 32px;
}
.site-footer__text p {
  margin: 0;
}
